<h2>Altis Common Login</h2>
<br />

@if (User.Identity.IsAuthenticated)
{
    if (!String.IsNullOrEmpty(User.Identity.Name))
    {
        <p>Hi @User.Identity.Name, welcome to the Altis Common Login site.</p>
        <br />
        <p class="green">You are logged in.</p>
    }
    else
    {
        <p>Welcome to the Altis Common Login site.</p>
        <br/>
        <p class="green">You are logged in.</p>
    }
    <br/>

    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <input type="button" class="red" value="Log out" onclick="document.getElementById('logoutForm').submit()"/>
    }
}
else
{
    <p>Welcome to the Altis Common Login site.</p>
    <br />
    <p class="red">You are not currently logged in.</p>
    <br/>
    <input type="button" class="green" value="Log in" onclick="location.href = '/Account/Login'"/>
}